body{
    text-align: center;
    background-color: darkred;
}
h1{
    font-size: 30px;
    font-weight: 300;
    font-family: inherit;
}
#apps{
    width: 100%;
    height: 800px;
    background-color: aqua;
}
#games{
    width: 100%;
    height: 800px;
    background-color: blue;
}
#chatbot{
    width: 100%;
    height: 800px;
    background-color: blueviolet;
}
img{
    transition:transform .2s;    
}
img:hover{
    transform: scale(0.9)
}
.line{
    height: 6px;
    width: 60px;
    background-color: black;
    margin: 8px auto;
    
}